.main-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 38px;
    align-items: center;
    position: relative;
    background: #555;
}

.btn {
  background-color: #555; 
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 15px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.main-button {
  margin-right: 9px;
  width: 110px;
  color: white;
  display: flex;
  font-size: 12px;
  align-items: center;
}

.main-button > a {
    margin-top: 2px;
    float: right;
    color: white;
}
.main-button :first-child {
    border-right: 1px solid white;
    padding-right: 9px;
}
.main-button :last-child {
    padding-left: 10px;
}

.main-logout-button {
  top: 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: darkgray;
  align-items: center;
  text-transform: capitalize;
  padding-right: 15px;
}