body {
  font-family: 'Hachi Maru Pop', cursive;
  background-image: image-url("background.jpg");
   background-color: white;
   width: 100%;
   height: 100%;
}

.header {
    display: flex;
    width: 100%;
    background-color: lightgray;
    justify-content: space-between;
    height: 89px;
    align-items: center;
}

.header-title {

    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
}

.session-button {
  margin-right: 40px;
  width: 100px;
  display: block;
  justify-content: space-between;
  font-size: 15px;
  color: darkgray;
  align-items: center;
}

.session-logout-button {
  margin-right: 40px;
  width: 180px;
  display: block;
  justify-content: space-between;
  font-size: 15px;
  color: darkgray;
  align-items: center;
}