.footer {
    background: #555;
    width: 100%;
    height: 180px;
    padding-top: 10px;
    color: white;
    position: relative;
    bottom: 0;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-contact > h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-contact > h3 {
    color: gray;
    margin-bottom: 5px;
}

.footer-contact > li {
    color: gray;
    margin: 5px;
}

.footer-contact > li a {
    color: gray;

}

.footer-link > h1 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-link > li {
    color: gray;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-link > li a{
    color: gray;
}
