.titleform-image {
    background: url(https://www.instructables.com/assets/editor/desktop/img/create-intro-header.png);
    height: 140px;
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.titleform {
    width: 375px;
    height: 170px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.titleform-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleform-input {
    display: block;
    text-align: center;
    width: 366px;
    height: 37px;
    border: none;
    margin-top: 20px;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid #c9c9c9;
}
.titleform-textarea {
     resize: none;
    display: block;
    text-align: center;
    width: 366px;
    height: 37px;
    border: none;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid #c9c9c9;
}

.titleform-submit {
    border-radius: 6px;
   background:coral;
    border: 1px solid lightcoral;
    color: white;
    width: 186.88px;
    padding: 11px 19px;
    font-size: 17.5px;
}